@use 'src/styles/screen';
@use 'src/styles/color';
@use 'src/styles/util';

.page-leaderboard {
	display: grid;
	grid-template-rows: minmax(0, 1fr) 5rem;
	grid-template-areas:
		'main'
		'filter';

	aside.filter,
	aside.filter-secondary {
		.pagination-page {
			grid-area: page;
		}

		.pagination-per-page {
			grid-area: per-page;
		}
	}

	aside.filter {
		grid-area: filter;
		display: grid;
		grid-template-columns: minmax(0, 1fr) max-content;
		grid-template-rows: repeat(2, minmax(0, 1fr));
		grid-template-areas:
			'search per-page'
			'page page';

		input {
			grid-area: search;
			height: auto;
		}

		.pagination-page {
			display: grid;
			grid-template-columns: repeat(9, 1fr);
			border-top: 1px solid color.$surface;
		}

		.pagination-per-page {
			border-top: 1px solid color.$surface;
		}
	}

	main {
		grid-area: main;
		overflow-y: auto;

		table {
			// shared between thead, tbody
			thead,
			tbody {
				tr {
					height: 2.5rem;

					td,
					th {
						padding-inline: 0.75rem;
						text-align: start;
						vertical-align: middle;
						white-space: nowrap;

						&.rank {
							text-align: right;
						}

						&.score {
							text-align: right;
							width: 30%;
						}

						&.player {
							width: 70%;

							a {
								color: inherit;
							}
						}
					}
				}
			}

			// thead exclusive
			thead {
				position: sticky;
				top: 0;
				background-color: color.$background;

				tr th {
					border-bottom: 1px solid color.$surface;
				}
			}

			// tbody exclusive
			tbody {
				tr {
					&:hover td {
						border-top-color: color.$on-background;
						border-bottom-color: color.$on-background;

						&:first-child {
							border-left-color: color.$on-background;
						}

						&:last-child {
							border-right-color: color.$on-background;
						}
					}

					td {
						border-top: 1px solid transparent;
						border-right: 1px solid transparent;
						border-bottom: 1px solid color.$surface;
						border-left: 1px solid transparent;

						&:not(:first-child) {
							border-left: 1px solid color.$surface;
						}

						&.rank {
							p {
								font-weight: 700;
							}

							&.gold p {
								@include util.text-gradient(#ffd700, #e89e00, #ffd700);
							}

							&.silver p {
								@include util.text-gradient(#ffffff, #c0c0c0, #c0c0c0);
							}

							&.bronze p {
								@include util.text-gradient(#ff8e31, #d45d00, #e8721d);
							}
						}
					}
				}
			}
		}
	}
}

@include screen.md {
	.page-leaderboard {
		aside.filter {
			display: grid;
			grid-template-columns: 32rem minmax(0, 1fr) max-content;
			grid-template-rows: repeat(2, minmax(0, 1fr));
			grid-template-areas:
				'search search search'
				'page . per-page';

			input {
				border-bottom: 1px solid color.$surface;
				border-right: none;
			}

			.pagination-page,
			.pagination-per-page {
				border-top: none;
			}
		}
	}
}

// TODO: Clean up textfield styling
@include screen.lt-lg {
	.page-leaderboard {
		aside.filter {
			input {
				border-radius: 0;
				background-color: transparent;
				border-top: 1px solid color.$surface;
				border-right: 1px solid color.$surface;
			}
		}
	}
}

@include screen.lg {
	.page-leaderboard {
		grid-template-columns: calc(8rem + 4px) 1fr;
		grid-template-rows: repeat(3, max-content);
		grid-template-areas:
			'. filter'
			'medal main'
			'. filter-secondary';
		padding-left: calc(6rem + 1px);
		padding-right: calc(8rem - 1px);
		padding-bottom: 6rem;
		row-gap: 2rem;

		aside.filter,
		aside.filter-secondary {
			.pagination-page,
			.pagination-per-page {
				border: 1px solid color.$surface;
			}

			.pagination-page {
				grid-template-columns: repeat(9, minmax(max-content, 2.5rem));
			}
		}

		aside.filter {
			grid-template-columns: max-content minmax(0, 1fr) max-content;
			grid-template-rows: 4rem 2.5rem;

			input {
				align-self: center;
				border-bottom: none;
				height: 2.5rem;
			}
		}

		aside.filter-secondary {
			grid-area: filter-secondary;
			display: grid;
			grid-template-columns: max-content minmax(0, 1fr) max-content;
			grid-template-rows: 2.5rem;
			grid-template-areas: 'page . per-page';
		}

		aside.medal {
			grid-area: medal;
			position: sticky;
			top: 8rem;
			margin-top: 8rem;
			justify-self: end;
			align-self: start;
			grid-column: 1;

			img {
				height: 14.25rem;
			}
		}

		main {
			table {
				thead,
				tbody {
					tr {
						td {
							border-left: 1px solid color.$surface;

							&:last-child {
								border-right: 1px solid color.$surface;
							}
						}
					}
				}
			}
		}
	}
}

@include screen.xl {
	.page-leaderboard {
		grid-template-columns: calc(9.5rem + 4px) 1fr;
	}
}

@include screen.xxl {
	.page-leaderboard {
		grid-template-columns: calc(9.5rem + 4px) 56rem calc(9.5rem + 4px);
		justify-content: center;
	}
}
