@use 'src/styles/color';

.layout {
	display: grid;
	grid-template-rows: 4rem minmax(0, 1fr);

	nav {
		display: flex;
		padding-inline: 4rem;
		border-bottom: 1px solid color.$surface;

		ul {
			display: flex;
			gap: 4rem;
			margin-bottom: -1px;

			li {
				a {
					height: 100%;
					display: flex;
					align-items: center;
					border-bottom: 1px solid color.$on-background;
				}
			}
		}
	}
}
