@use 'src/styles/color';

html,
body,
#app {
	height: 100%;
}

body {
	background-color: color.$background;
	color: color.$on-background;
}

// Reset Lists

ul[role='list'],
ol[role='list'] {
	padding: 0;
	margin: 0;

	li {
		display: block;
	}
}

// Default `a` style
a {
	text-decoration: none;
}
