@use 'src/styles/color';

:root {
	color-scheme: dark;
}

html,
body,
#app,
#root {
	height: 100%;
}

#root {
	display: flex;
	flex-direction: column;
	background-color: color.$background;
	color: color.$on-background;
}

// Reset Lists

ul[role='list'],
ol[role='list'] {
	padding: 0;
	margin: 0;

	li {
		display: block;
	}
}

// Default `a` style
a {
	text-decoration: none;
}

// Default textfield style
input[type='text'] {
	display: block;
	height: 42px;
	padding-inline: 0.75rem;
	border: none;
	border-radius: 4px;
	background-color: color.$surface;
}

// Default button style
button {
	cursor: pointer;
}

// Default iframe style
iframe {
	border: none;
}

// Default table style
table {
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

h5,
h6 {
	margin: 0;
}
