// https://m3.material.io/styles/typography/

@use 'src/styles/util/font';

// Display Large
h1,
.type-h1,
.type-display-lg {
	@include font.clash-display(64, 24);
}

// Display Medium
h2,
.type-h2,
.type-display-md {
	@include font.clash-display(32, 16);
}

// Display Small
h3,
.type-h3,
.type-display-sm {
	@include font.clash-display(24, 12);
}

// Headline Large
h4,
.type-h4,
.type-headline-lg {
	@include font.lexend-deca(16, 12);
	font-weight: 500;
}

// Headline Medium
// {}

// Headline Small
// {}

// Title Large
// {}

// Title Medium
// {}

// Title Small
// {}

// Label Large
h5,
.type-h5,
.type-label-lg {
	@include font.lexend-deca(12, 8);
	font-weight: 500;
}

// Label Medium
h6,
.type-h6,
.type-label-md {
	@include font.lexend-deca(10, 8);
	font-weight: 500;
}

// Label Small
// {}

// Body Large
p,
.type-body-lg {
	@include font.lexend-deca(12, 12);
	font-weight: 500;
}

// Body Medium
// {}

// Body Small
// {}
