@use 'src/styles/color';
@use 'src/styles/screen';

@include screen.xl {
	.page-changelog {
		display: grid;
		overflow: auto;
		flex: 1;
		grid-template-columns: calc(6.5rem + 4px) 1fr calc(6.5rem + 4px);
		padding-inline: calc(6rem + 1px);
		column-gap: 1.5rem;

		h1,
		.log {
			grid-column: 2 / span 1;
		}

		h1 {
			margin-block: 6rem;
		}

		.log {
			display: flex;
			flex-direction: column;
			gap: 6rem;
			margin-bottom: 6rem;

			.entry {
				display: grid;
				grid-template-columns: 25% 1fr max-content;
				grid-auto-rows: max-content;
				align-items: center;
				justify-items: start;
				gap: 2rem 1rem;

				&:hover {
					.date::after,
					.summary::after {
						content: '';
						flex: 1;
						border-top: 1px solid;
						position: relative;
						margin-left: 1rem;
						align-self: center;
					}
				}

				.date {
					justify-self: stretch;
					display: flex;
					color: rgba(color.$on-background, 0.4);
					border-color: rgba(color.$on-background, 0.4);
				}

				.summary {
					justify-self: stretch;
					display: flex;

					a {
						color: inherit;
						border-bottom: 1px solid color.$on-background;
					}
				}

				.changes {
					display: grid;
					grid-template-columns: max-content max-content max-content;
					gap: 0.5rem;
					align-items: center;

					.from {
						grid-column: 1;
						justify-self: end;
					}

					.icon {
						grid-column: 2;
						margin-block: -0.5rem;
					}

					.to {
						grid-column: 3;
						justify-self: start;
					}
				}

				.details {
					align-self: start;

					.no-reason {
						color: rgba(color.$on-background, 0.4);
					}
				}

				.changelog-overview {
					grid-column: 2 / span 2;
					align-self: start;
					justify-self: stretch;
				}
			}
		}
	}
}
