@use 'src/styles/color';

.list-change {
	// FIXME: Predictable vertical size
	display: grid;
	grid-template-columns: minmax(0, 1fr) 1.5rem minmax(0, 1fr);
	grid-auto-rows: max-content;
	grid-auto-flow: column;
	align-items: stretch;
	gap: 1rem 0.5rem;
	color: rgba(color.$on-background, 0.4);
	border-color: rgba(color.$on-background, 0.4);
	overflow: hidden;
	position: relative;
	padding-block: 0.5rem;
	margin-block: -0.5rem;

	$dot-size: 1px;

	.before,
	.after {
		display: flex;

		&.top,
		&.bottom {
			display: flex;
			align-items: center;
			gap: 0.5rem;

			&::before,
			&::after {
				content: '';
				flex: 1;
				height: 50%;
			}

			&::before {
				border-left: 1px solid rgba(color.$on-background, 0.4);
			}

			&::after {
				border-right: 1px solid rgba(color.$on-background, 0.4);
			}
		}

		&.top::before,
		&.top::after {
			align-self: flex-end;
			border-top: 1px solid rgba(color.$on-background, 0.4);
		}

		&.bottom::before,
		&.bottom::after {
			align-self: flex-start;
			border-bottom: 1px solid rgba(color.$on-background, 0.4);
		}

		.stripe {
			flex: 1;
			position: relative;

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-size: 5px 5px;
			}
		}

		.level {
			overflow: hidden;
			white-space: nowrap;
			margin-block: -0.5rem;
			padding-block: 0.5rem;
			text-overflow: ellipsis;
		}
	}

	.before {
		grid-column: 1;
		justify-content: end;
		position: relative;

		&.leap {
			background-image: linear-gradient(90deg, transparent, #00ff00);
			align-self: stretch;
		}

		.stripe::before {
			right: 0.5rem;
			background-image: radial-gradient(
				circle at top 1px left 1px,
				rgba(color.$on-background, 0.4) $dot-size,
				color.$background $dot-size
			);
		}

		&.self .stripe::before {
			background-image: radial-gradient(
				circle at top 1px left 1px,
				color.$on-background $dot-size,
				color.$background $dot-size
			);
		}

		.rank {
			margin-left: 0.5rem;
		}
	}

	.icon {
		grid-column: 2;
		grid-row: 2;
		margin-block: -0.5rem;
	}

	.after {
		grid-column: 3;

		&:not(.top):not(.bottom) {
			flex-direction: row-reverse;
		}

		&.leap {
			background-image: linear-gradient(90deg, #ff0000, transparent);
			align-self: stretch;
		}

		.rank {
			margin-right: 0.5rem;
		}

		.stripe::before {
			left: 0.5rem;
			background-image: radial-gradient(
				circle at top 1px right 1px,
				rgba(color.$on-background, 0.4) $dot-size,
				color.$background $dot-size
			);
			background-position: top right;
		}

		&.self .stripe::before {
			background-image: radial-gradient(
				circle at top 1px right 1px,
				color.$on-background $dot-size,
				color.$background $dot-size
			);
		}
	}

	.self {
		color: color.$on-background;
		border-color: color.$on-background;
	}
}
