@use 'src/styles/screen';
@use 'src/styles/color';

#layout {
	height: 100%;
	display: grid;
	grid-template-columns: 16rem minmax(0, 1fr);
	grid-template-rows: minmax(0, 1fr);
	grid-template-areas: 'sidebar page';

	.sidebar {
		grid-area: sidebar;
	}

	.page {
		grid-area: page;
		overflow-y: auto;
	}
}
