@use 'src/styles/color';
@use 'src/styles/screen';

.levels {
	display: flex;
	flex-direction: column;

	.level {
		display: flex;
		flex-direction: column;
		padding: 25px 20px;
		gap: 20px;

		.thumbnail {
			border-top: 1px solid color.$on-background;
			object-fit: cover;
		}

		.rank {
			display: grid;
			grid-template-columns: 2rem 2rem 2rem;
			justify-items: center;
			gap: 2px;

			.outline {
				-webkit-text-stroke: 1px color.$on-background;
				color: transparent;
			}
		}

		.meta {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			.name {
				width: 100%;
				hyphens: auto;
				overflow-wrap: break-word;
			}
		}
	}
}

@include screen.sm {
	.levels {
		.level {
			padding: 2rem;
			border: 1px solid transparent;

			&:hover,
			&:focus-visible {
				border-color: color.$on-background;
				outline: none;
			}
		}
	}
}

@include screen.xl {
	.levels {
		max-width: 64rem;

		.level {
			display: grid;
			grid-template-columns: max-content 12rem 1fr;
			gap: 2rem;
			color: inherit;
			padding: 2rem;
			margin-bottom: -1px;

			.meta {
				gap: 1.5rem;
			}
		}
	}
}
