@use 'src/styles/color';
@use 'src/styles/screen';

.page-list-levels {
	display: flex;
	flex-direction: column;

	.page-list-level a {
		display: flex;
		flex-direction: column;
		padding: 25px 20px;
		gap: 20px;

		.rank {
			grid-area: rank;
			display: grid;
			grid-template-columns: 2rem 2rem 2rem;
			justify-items: center;
			gap: 2px;

			.outline {
				-webkit-text-stroke: 1px color.$on-background;
				color: transparent;
			}
		}

		.thumbnail {
			grid-area: thumbnail;
			border-top: 1px solid color.$on-background;
			object-fit: cover;
			width: 100%;
		}

		.meta {
			grid-area: meta;
			display: flex;
			flex-direction: column;
			gap: 1rem;

			.name {
				width: 100%;
				hyphens: auto;
				overflow-wrap: break-word;
			}
		}
	}
}

@include screen.sm {
	.page-list-levels {
		.page-list-level a {
			padding: 2rem;
			border: 1px solid transparent;

			&:hover,
			&:focus-visible {
				border-color: color.$on-background;
				outline: none;
			}
		}
	}
}

@include screen.md {
	.page-list-levels {
		.page-list-level a {
			display: grid;
			grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
			grid-template-areas:
				'rank .'
				'thumbnail meta';
		}
	}
}

@include screen.xl {
	.page-list-levels {
		max-width: 64rem;

		.page-list-level a {
			grid-template-columns: max-content 12rem 1fr;
			gap: 2rem;
			color: inherit;
			padding: 2rem;
			margin-bottom: -1px;

			.meta {
				gap: 1.5rem;
			}
		}
	}
}
