@use 'src/styles/color';
@use 'src/styles/screen';

.page-list {
	position: relative;

	main {
		height: 100%;
		overflow-y: auto;
		scroll-behavior: smooth;
	}
}

@include screen.sm {
	.page-list {
		display: grid;
		grid-template-columns: 4rem minmax(0, 1fr);

		main {
			margin-left: -1px; // Collapse border
		}
	}
}
