@use 'src/styles/color';
@use 'src/styles/screen';

.page-list-sidebar {
	nav {
		display: flex;
		flex-direction: column;
		background-color: color.$background;

		.scroll,
		.archive {
			width: 4rem;
		}

		.scroll {
			flex: 1;
			position: relative;

			.scroll-indicator {
				display: block;
				position: absolute;
				right: 0;
			}

			ol.stops {
				height: 100%;
				display: flex;
				flex-direction: column;

				li.stop {
					height: 4rem;

					a {
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}

				.connector {
					flex: 1;
					margin-left: 2rem;
					border-left: 1px solid color.$on-background;
				}
			}
		}

		.archive {
			display: flex;
			align-items: center;
			padding: 1.5rem 0;
			writing-mode: vertical-rl;
			border-top: 1px solid color.$surface;
		}
	}
}

@include screen.lt-sm {
	.page-list-sidebar {
		nav {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 4rem;
			overflow: hidden;
			border-left: 1px solid color.$surface;

			width: 0; // Collapsible
			transition: width 250ms ease-in-out;

			&.uncollapsed {
				width: 4rem;
			}
		}

		button.toggle {
			position: absolute;
			right: 0;
			bottom: 0;
			height: 4rem;
			width: 4rem;
			grid-row: 2;
			background-color: color.$background;
			border-top: 1px solid color.$surface;
			border-left: 1px solid color.$surface;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				transition: transform 250ms ease-in-out;
			}

			&.uncollapsed img {
				transform: rotate(180deg);
			}
		}
	}
}

@include screen.sm {
	.page-list-sidebar {
		nav {
			height: 100%;
			border-right: 1px solid color.$surface;
		}
	}
}
