:root {
    --background-color: #000000;
}

// https://m3.material.io/styles/color/the-color-system/key-colors-tones

// Accent Colors
$primary: #00ffff;
$on-primary: #000000;

// Neutral Colors
$background: var(--background-color);
$on-background: #ffffff;

$surface: rgba(255, 255, 255, 0.1);
$on-surface: #ffffff;

// Additional Colors
$error: #de0000;
$on-error: #ffffff;
