// https://m3.material.io/styles/color/the-color-system/key-colors-tones

// Accent Colors
$primary: #00ffff;
$on-primary: #000000;

// Neutral Colors
$background: #000000;
$on-background: #ffffff;

$surface: #333333;
$on-surface: #ffffff;

// Additional Colors
$error: #de0000;
$on-error: #ffffff;
